<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Nueva sucursal</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <h1>Nueva sucursal</h1>
  <a href="/sucursales">Volver</a>
  <form method="post" action="/sucursales">
    <label>Código</label><br>
    <input name="cod" required /><br>
    <label>Dirección</label><br>
    <input name="direccion" required /><br>
    <label>Teléfono</label><br>
    <input name="telefono" /><br><br>
    <button type="submit">Guardar</button>
  </form>
</body>
</html>
